.navigation {
    font-size: calc(.3em + .5vw);
    margin-bottom: 4em;
    border: 0 solid rgba(0, 0, 0, .05);
    border-bottom-width: .2em;

    @media @lteLargeScreen {
        font-size: calc(.3em + .875vw);
    }

    @media @lteMediumScreen {
        border-width: .2em 0;
        font-size: calc(.3em + 1.5vw);
        padding: 1.5em 0;
        margin-bottom: 2rem;
    }

    @media @lteSmallScreen {
        padding: 1em 0;
        font-size: .675em;
    }
}

    .navigation__list {
        display: flex;
        justify-content: space-between;
        margin-bottom: -.2em;

        @media @lteMediumScreen {
            display: block;
            margin-bottom: 0;
            columns: 2;
        }

        @media @lteSmallScreen {
            columns: 1;
        }
    }

        .navigation__item {
            display: inline-block;
            margin-right: 1em;

            &:last-child {
                margin-right: 0;
            }

            @media @lteMediumScreen {
                display: list-item;
                margin-right: 0;

                &:not(:first-child):not(:nth-child(4)) {
                    margin-top: 1em;
                }
            }

            @media @lteSmallScreen {

                &:not(:first-child) {
                    margin-top: .5em !important;
                }
            }
        }

            .navigation__link {
                padding: .75em 0;
                display: block;
                text-decoration: none;
                letter-spacing: .1em;
                color: @colorText;
                text-transform: uppercase;
                font-weight: @fontWeightBold;
                position: relative;
                white-space: nowrap;

                @media @lteMediumScreen {
                    display: inline-block;
                    padding: .25em 0;
                }

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: .2em;
                    background: @colorHighlight;
                    opacity: 0;
                    transition: transform .3s, opacity .5s;
                    pointer-events: none;
                    z-index: -1;
                    transform-origin: bottom;
                    will-change: transform;
                }

                &.is-active:after {
                    opacity: .5;
                }

                &:hover:after,
                &:focus:after {
                    opacity: .1;
                    transform: scale(1.2, 15);

                    @media @lteMediumScreen {
                        transform: scale(1.2, 10);
                    }
                }
            }