<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0">
    <title>{{ .Title }} – {{ .Site.Title }}</title>
    {{ with resources.Get "css/default.scss" | toCSS | postCSS | minify }}
        <style>{{ .Content | safeCSS }}</style>
    {{ end }}
    <link rel="icon" type="image/png" href="/img/favicon.png">
</head>
<body class="body{{ if eq .IsHome false }} body--{{ trim .File.Dir "/" }}{{ end }}">

    <section class="gallery">
        {{ range .Params.video }}
            <video class="gallery__image" autoplay loop>
                <source src="/img/{{ . }}_small.mp4" media="(max-width: 43.75em)" type="video/mp4">  
                <source src="/img/{{ . }}.mp4" type="video/mp4">  
            </video>        
        {{ end }}
        {{ range .Params.gallery }}
            <picture>
                <source srcset="/img/{{ . }}_small.jpg" media="(max-width: 43.75em)">
                <source srcset="/img/{{ . }}_medium.jpg" media="(max-width: 75em)">
                <img class="gallery__image" src="/img/{{ . }}_large.jpg">
            </picture>
        {{ end }}
    </section>

    <header class="header body__header">

        <a href="/"><img src="/img/logo--inverse.svg" class="header__logo" alt="Kaiser Franz"></a>

        <ul class="header__social-links social-links">
            <li class="social-links__item"><a href="https://www.facebook.com/KaiserFranzCZ"><img class="social-links__icon" src="/img/facebook.svg" alt="Facebook"></a></li>
            <li class="social-links__item"><a href="https://www.instagram.com/kaiser_franz_kf"><img class="social-links__icon" src="/img/instagram.svg" alt="Instagram"></a></li>
        </ul>

    </header>

    <main class="main body__main">

        <nav class="navigation">
            <ul class="navigation__list">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    <li class="navigation__item"><a href="{{ .URL }}" class="navigation__link{{ if $currentPage.IsMenuCurrent "main" . }} is-active{{ end }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </nav>

        <h1 class="main__heading">{{ .Page.Title }}</h1>
        <div class="content">
            {{ block "main" . }}{{ end }}
        </div>

    </main>

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>
    {{ partial "cookie-consent.html" . }}
</body>
</html>