.clients {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: $lteSmallScreen) {
        flex-direction: column;
    }
}

    .clients__item {
        margin-right: 2em;
        margin-bottom: 2em;

        @media (max-width: $lteSmallScreen) {
            margin-right: 0;
        }
    }

        .clients__logo {
            display: block;
            width: 8vw;
            filter: grayscale(100%);

            @media (max-width: $lteLargeScreen) {
                width: 15vw;
            }

            @media (max-width: $lteMediumScreen) {
                width: 21vw;
            }

            @media (max-width: $lteSmallScreen) {
                width: 40vw;
            }
        }