.content {

    @media (max-width: $lteMediumScreen) {
        font-size: .875em;
    }

    a {
        display: inline-block;
        text-decoration: none;
        position: relative;
        color: inherit;
        white-space: nowrap;

        &:before {
            content: '';
            position: absolute;
            top: 90%;
            left: 0;
            right: 0;
            background: $colorHighlight;
            opacity: .5;
            height: 10%;
            transition: transform .2s, opacity .5s;
            z-index: -1;
            will-change: transform;
            transform-origin: bottom;
            pointer-events: none;
        }

        &:hover:before,
        &:focus:before {
            transform: scale(1.1, 12) translateY(10%);
            opacity: .1;
        }
    }

    & > * + * {
        margin-top: $lineHeight * 1em;
    }

    h2, h3, h4, h5, h6 {
        font-weight: $fontWeightBold;
        font-size: 1em;
        letter-spacing: .02em;
        line-height: 1.125;

        & + * {
            margin-top: 0;
        }
    }

    h2 {
        font-size: 1.125em;
    }
}
