.grants {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: $lteSmallScreen) {
        flex-direction: column;
    }
}

    .grants__item {
        margin-right: 2em;
        margin-bottom: 2em;

        @media (max-width: $lteSmallScreen) {
            margin-right: 0;
        }
    }

        .grants__logo {
            display: block;
            width: 2em;
        }