.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: $backgroundWidth;
    z-index: 3;
    padding: 3vw;
    opacity: .875;
    transition: opacity .5s;
    filter: drop-shadow(0 .2em 0 rgba(0, 0, 0, .5));

    &:hover {
        opacity: 1;
    }

    @media (max-width: $lteLargeScreen) {
        align-items: flex-end;
        position: absolute;
        top: 0;
        left: 0;
        bottom: auto;
        height: calc(30vh + 10vw);
        padding: 4vh 5vw;
        width: 100%;
        pointer-events: none;
    }

    @media (max-width: $lteMediumScreen) {
        position: static;
        transition: none;
        padding: 5vw;
        height: auto;
        filter: none;
        opacity: 1;
        align-items: center;
    }
}

    .header__logo {
        display: block;
        width: 18vw;
        transition: transform .3s;
        transform: translateZ(0);
        transform-origin: bottom left;

        &:hover,
        &:focus {
            transform: scale(1.1) translateZ(0);
        }

        @media (max-width: $lteLargeScreen) {
            width: 15em;
            pointer-events: initial;
        }

        @media (max-width: $lteMediumScreen) {
            width: 40vw;
            filter: invert(100%);
            opacity: .75;
            transform: none !important;
        }

        @media (max-width: $lteSmallScreen) {
            width: 50vw;
        }
    }

    .header__social-links {
        font-size: 2vw;

        @media (max-width: $lteLargeScreen) {
            font-size: 1.5em;
            pointer-events: initial;
        }

        @media (max-width: $lteMediumScreen) {
            font-size: 5vw;
            filter: invert(100%);
            opacity: .75;
        }

        @media (max-width: $lteSmallScreen) {
            font-size: 7vw;
        }
    }