.wedding-catering-form {

    > * + * {
        margin-top: $lineHeight * 1em;
    }
}

    .wedding-catering-form__cell {
        display: block;

        &--inline {
            display: flex;
            align-items: center;
        }
    }

        .wedding-catering-form__label {
            display: block;
            font-size: .75rem;
            letter-spacing: .2em;
            text-transform: uppercase;
            margin-bottom: $lineHeight * .125em;
            cursor: pointer;

            &--required {

                &:after {
                    content: '*';
                    color: $colorHighlight;
                }
            }

            .wedding-catering-form__cell--inline & {
                margin-bottom: 0;
                letter-spacing: normal;
                text-transform: none;
                font-size: 1rem;
            }
        }

        .wedding-catering-form__input {
            display: block;
            padding: .75em 1em;
            box-shadow: inset 0 .2em 0 0 $colorShadow;
            font-size: 1rem;
            width: 100%;
        }



    .wedding-catering-form__options {

    }

        .wedding-catering-form__legend {
            font-weight: $fontWeightBold;
            margin-bottom: $lineHeight * .5em;
        }

        .wedding-catering-form__checkbox {
            display: block;
            box-shadow: inset 0 .2em 0 0 $colorShadow;
            font-size: 1rem;
            background: red;

            .wedding-catering-form__cell--inline & {
                margin-right: 1em;
            }
        }

    .wedding-catering-form__button {
        display: block;
        letter-spacing: .2em;
        text-transform: uppercase;
        font-weight: $fontWeightBold;
        cursor: pointer;
        width: 100%;
        padding: .75em 1em;
        font-size: 1rem;
        background: rgba(green, .75);
        border-bottom: .2em solid rgba(black, .25);
        color: $colorBackground;
    }


