<ul class="bullet-list">
    {{ $short_date_format := "2." }}
    {{ $date_format := "2. 1." }}
    {{ range .Page.Params.events }}
        {{ with .event }}
            {{ $start_date := dateFormat $short_date_format .start_date }}
            {{ $end_date := dateFormat $date_format .end_date }}
            {{ $is_one_day := eq .start_date .end_date }}
            {{ if $is_one_day }}
                {{ $start_date = dateFormat $date_format .start_date }}
            {{ end }}
            <li class="bullet-list__item">
                <strong>{{ if $is_one_day }}{{ $start_date }}{{ else }}{{ $start_date }}&hairsp;-&hairsp;{{ $end_date }}{{ end }} </strong> – {{ .name }}
            </li>
        {{ end }}
    {{ end }}
</ul>